PORT= #PUERTO DONDE CORRE EL SERVIDOR
MONGODB_URI= #URI DE LA BASE DE DATOS DE MONGODB
USERPG= #usuario de la base de datos de postgres
PASSWORDPG= #contraseña de la base de datos de postgres
HOSTPG= #host de la base de datos de postgres
PORTPG= #puerto de la base de datos de postgres
DATABASEPG= #nombre de la base de datos de postgres